.section--fishes {
    display: flex;
    flex-basis: 20%;
    flex-wrap: wrap;
    border: .5rem;
    border-style: solid;
    border-color: crimson;
    margin: 3rem;
    padding: 2rem;
}
.fishes {
    text-align: center;
    margin: 2%;
    padding: 2%;
    width: 100%;
}


.each__fish {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1% 1%;
    padding: 1%;
    border: fuchsia dotted 2px;
    width: 33.33%;
}