.section--fishes {
    display: flex;
    flex-basis: 20%;
    flex-wrap: wrap;
    border: .5rem;
    border-style: solid;
    border-color: crimson;
    margin: .5rem 3rem;
    padding: 2rem;
}
.fishes {
    text-align: center;
    margin: 2%;
    padding: 2%;
    width: 100%;
    font-size: 75px;
}

.fish{
    display: flex;
    margin: 2%;

}

.each__fish {
    /*border: fuchsia dotted 2px;*/
    display: flex;
    flex-direction: column;
    margin: .5% .5% .5% 5%;
}

.fish_name {
    font-size: 25px;
}

.fish_species {
    font-size: 15px;
}

.fish_length {
    font-size: 15px;
}

.fish_location {
    font-size: 15px;
}

.fish_eats {
    font-size: 15px;
}

