.section--locations {
    display: flex;
    flex-basis: 12%;
    flex-wrap: wrap;    
    border: .5rem;
    border-style: solid;
    border-color: crimson;
    margin: .5rem 3rem;
    padding: 2rem;
}
.title--locations {
    text-align: center;
    margin: 2%;
    padding: 2%;
    width: 100%;
    font-size: 75px;
}
.div--locations{
    display: flex;
    justify-content: space-around;
    flex-direction: row;    
    flex-wrap: wrap;
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;*/
}
.location {
    /*display: flex;*/
    flex-basis: 20%;
    /*justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;*/
    margin: 1% 1%;
    padding: 1%;
}
