@import './fish.css';
@import './quotes.css';
@import './locations.css';
@import './caretips.css';

body {
    background-color: rgb(101, 240, 159);
}

header{
    display: flex;
    justify-content: space-evenly;
    border: .5rem;
    border-style: solid;
    border-color: crimson;
    margin: 3rem;
    padding: 2rem;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left {    
    width: 66%;
    min-height: 3000px;
    margin: 1rem .5rem 10rem 0rem;
}

.right {    
    width: 33%;
    min-height: 3500px;
    margin: 1rem 0rem 10rem .5rem;
}
img {
    width: 20rem;
}

.title {
    display: flex;
    align-items: center;
    font-size: 5rem;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-inforamtion {
    display: flex;
    justify-content: center;
    margin: 2% 2% 0 2%;
    width: 100%;
}
.contact {
    display: flex;
    flex-basis: 12%;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 2%  0 2%;
    padding: 3rem;
    text-align: center;
}
