@import './fish.css';
@import './quotes.css';
@import './locations.css';
@import './caretips.css';

body {
    background-color: rgb(101, 240, 159);
}

header{
    display: flex;
    justify-content: space-evenly;
    border: .5rem;
    border-style: solid;
    border-color: crimson;
    margin: 3rem 3rem 0 3rem;
    padding: 2rem;
}

.main {
    display: flex;
    flex-direction: row;
    
}

.left {   
    width: 66%;
}

.right {    
    width: 33%;
}
img {
    width: 15rem;
    margin: 1%;
}

.title {
    display: flex;
    align-items: center;
    font-size: 7rem;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: crimson solid .5rem;
    margin: 0 3rem;
    padding: 2rem;
}

.contact-inforamtion {
    display: flex;
    justify-content: center;
    margin: 2% 2% 0 2%;
    width: 100%;
}
.contact {
    display: flex;
    flex-basis: 12%;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 2%  0 2%;
    padding: 3rem;
    text-align: center;
}
