.section--quotes {
    border: .5rem;
    border-style: solid;
    border-color: crimson;
    margin: .5rem 3rem;
    padding: 2rem;
}
.title--quotes {
    text-align: center;
    margin: 2%;
    font-size: 75px;
}
.quote {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    flex-direction: row;
    margin: 1% 1%;
    padding: 1%;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}
